*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    background-color: aquamarine;
    list-style-type: none;
    padding: 40px 40px 40px 0;
}

li{
    height: 20px;
    width: 70px;
    margin: 10px 0 10px 10px;
}

.bc-fizzbus{
    background-color:  #0E0E0E;
}

.bc-fizz{
    background-color: #6FD000;
}

.bc-buzz{
    background-color:  #EF780D;
}

.bc-norm{
    background-color:  white;
}